<!-- INTERNAL TABLE FOR Azure Virtual Networks -->
<h3>Azure Virtual Network Information</h3>
<div id="accordion">
<div>
<h3>{{ azure_resourcegroup_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ __azure_vnet_info.virtualnetworks | length }}</strong> Azure virtual networks configured in the {{ azure_resourcegroup_name | default('unkown') }} resource group

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('VNet name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('VNet State') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('VNet Address') }}</th>
        <th class="__vpc_info">{{ '%-18s'|format('VNet Subnets') }}</th>
    </tr>

    {% for vnet in __azure_vnet_info.virtualnetworks %}
    <tr>
        <td>{{ '%-38s' | format(vnet.name | default('unknown')) }}</td>
        <td>{{ '%-28s' | format(vnet.provisioning_state) }}</td>
        <td>{{ '%-14s' | format(vnet.address_prefixes | join(',')) }}</td>
        <td>{{ '%-18s' | format(vnet.subnets | length) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Subnet name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet State') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Subnet Address') }}</th>
        <th class="__vpc_info">{{ '%-18s'|format('Subnet Subnets') }}</th>
    </tr>

    {% for vnet in __azure_vnet_info.virtualnetworks %}
    <tr>
        <td>{{ '%-38s' | format(vnet.name | default('unknown')) }}</td>
        <td>{{ '%-28s' | format(vnet.provisioning_state) }}</td>
        <td>{{ '%-14s' | format(vnet.address_prefixes | join(',')) }}</td>
        <td>{{ '%-18s' | format(vnet.subnets | length) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR Azure Virtual Networks -->