<!-- INTERNAL TABLE FOR Azure Instances -->
<h3>Azure VM Information</h3>
<div id="accordion">
<div>
<h3>{{ azure_resourcegroup_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ __azure_vm_info.vms | length }}</strong> Azure virtual machines configured in the {{ azure_resourcegroup_name | default('unkown') }} resource group

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Name') }}</th>
        <th class="__vpc_info">{{ '%-38s'|format('Size') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Image') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('State') }}</th>
    </tr>

    {% for vm in __azure_vm_info.vms %}
    <tr>
        <td>{{ '%-38s' | format(vm.name | default('unknown')) }}</td>
        <td>{{ '%-28s' | format(vm.vm_size) }}</td>
        <td>{{ '%-14s' | format('%s-%s', vm.image.offer, vm.image.version) }}</td>
        <td>{{ '%-18s' | format(vm.power_state) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR Azure Instances -->