<!-- INTERNAL TABLE FOR VPC -->
<h3>Azure Virtual Network Information</h3>
<div id="accordion">
<div>
<h3>{{ azure_resourcegroup_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ 
<!-- END INTERNAL TABLE FOR VPC -->