<!-- INTERNAL TABLE FOR OpenStack Networks -->
<h3>OpenStack Network Information</h3>
<div id="accordion">
<div>
<h3>{{ project_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ __os_net_info.openstack_networks | length }}</strong> networks configured in the {{ project_name | default('unknown') }} project

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Network Name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Is External') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Subnets') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('MTU') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Status') }}</th>
    </tr>

    {% for net in __os_net_info.openstack_networks %}
    <tr>
        <td>{{ '%-38s' | format(net.name | default('unknown')) }}</td>
        <td>{{ '%-28s' | format(net['router:external']) }}</td>
        <td>{{ '%-14s' | format(net.subnets | length) }}</td>
        <td>{{ '%-14s' | format(net.mtu) }}</td>
        <td>{{ '%-14s' | format(net.status | capitalize) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<h3>OpenStack Subnet Information</h3>
{% for net in __os_net_info.openstack_networks %}
<div id="accordion">
<div>
<h3>{{ net.name }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ net.subnets | length }}</strong> subnets configured in the {{ net.name | default('unknown') }} network
<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Subnet name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet CIDR') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet Gateway') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet Allocation Start') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet Allocation End') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet Creation Time') }}</th>
    </tr>

    {% for subnet in net.subnets %}
    {% set subnet_info = __os_subnet_info.openstack_subnets | selectattr('id', '==', subnet) %}
    <tr>
        <td>{{ '%-38s' | format(subnet.name | default('unknown')) }}</td>
        <td>{{ '%-38s' | format(subnet.address_prefix | default('unknown')) }}</td>
        <td>{{ '%-38s' | format(subnet_info.0.name) }}</th>
        <td>{{ '%-28s' | format(subnet_info.0.cidr) }}</th>
        <td>{{ '%-28s' | format(subnet_info.0.gateway_ip | default('N/A')) }}</th>
        <td>{{ '%-28s' | format(subnet_info.0.allocation_pools.0.start | default('N/A')) }}</th>
        <td>{{ '%-28s' | format(subnet_info.0.allocation_pools.0.end | default('N/A')) }}</th>
        <td>{{ '%-28s' | format(subnet_info.0.created_at) }}</th>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endfor %}
<!-- END INTERNAL TABLE FOR OpenStack Networks -->