<!-- INTERNAL TABLE FOR OpenStack Networks -->
<h3>OpenStack Network Information</h3>
<div id="accordion">
<div>
<h3>{{ project_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ __os_net_info.openstack_networks | length }}</strong> networks configured in the {{ project_name | default('unknown') }} project

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Network Name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Is External') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Subnets') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('MTU') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Status') }}</th>
    </tr>

    {% for net in __os_net_info.openstack_networks %}
    <tr>
        <td>{{ '%-38s' | format(net.name | default('unknown')) }}</td>
        <td>{{ '%-28s' | format(net['router:external']) }}</td>
        <td>{{ '%-14s' | format(net.subnets | length) }}</td>
        <td>{{ '%-14s' | format(net.mtu) }}</td>
        <td>{{ '%-14s' | format(net.status | capitalize) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>

<h3>OpenStack Subnet Information</h3>
{% for vnet in __azure_vnet_info.virtualnetworks %}
<div id="accordion">
<div>
<h3>{{ vnet.name }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ vnet.subnets | length }}</strong> Azure virtual subnets configured in the {{ vnet.name | default('unknown') }} virtual network
<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Subnet name') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('Subnet CIDR') }}</th>
    </tr>

    {% for subnet in vnet.subnets %}
    <tr>
        <td>{{ '%-38s' | format(subnet.name | default('unknown')) }}</td>
        <td>{{ '%-38s' | format(subnet.address_prefix | default('unknown')) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endfor %}
<!-- END INTERNAL TABLE FOR Azure Subnets -->