<!-- INTERNAL TABLE FOR OpenStack Instances -->
<h3>OpenStack Instance Information</h3>
<div id="accordion">
<div>
<h3>{{ project_name | default('unknown') }}</h3>
<div class="net_content">
<p class="description">There are <strong>{{ __os_server_info.openstack_servers | length }}</strong> Nova compute instances in the {{ project_name | default('unknown') }} project

<table class="net_info">
<tbody>
    <tr>
        <th class="__vpc_info">{{ '%-38s'|format('Name') }}</th>
        <th class="__vpc_info">{{ '%-38s'|format('Flavor') }}</th>
        <th class="__vpc_info">{{ '%-28s'|format('IP Address') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Hypervisor') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('State') }}</th>
        <th class="__vpc_info">{{ '%-14s'|format('Launch Time') }}</th>
    </tr>

    {% for server in __os_server_info.openstack_servers %}
    <tr>
        <td>{{ '%-38s' | format(server.name) }}</td>
        <td>{{ '%-38s' | format(server.flavor.original_name) }}</td>
        <td>{{ '%-28s' | format(server.private_v4) }}</td>
        <td>{{ '%-14s' | format(server.hypervisor) }}</td>
        <td>{{ '%-14s' | format(server.launched_at) }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR Azure Instances -->